mat-grid-tile mat-card {
    max-height: 150px;
    width: 100%;
    margin: 0 10px 0 10px;
}
mat-card img {
    position: absolute;
    border-radius: 50%;
    top: -35%;
    width: 105px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
mat-card h4 {
    margin: 40px 0 0 0;
    text-align: center;
}
mat-card p {
    color: #999898;
    text-align: center;
}
mat-grid-tile {
    overflow: inherit;
}
.title-card {
    padding: 10px;
}
.title-card h2 {
    padding: 0;
    color: #5184c8;
    text-align: center;
}