mat-grid-tile mat-card {
    max-height: 150px;
    width: 100%;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
mat-card img {
    position: absolute;
    border-radius: 50%;
    top: -35%;
    width: 105px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
mat-card h4 {
    margin: 40px 0 0 0;
    text-align: center;
}
mat-card p {
    color: #999898;
    text-align: center;
}
mat-grid-tile {
    overflow: inherit;
    margin-top: 30px;
}
.search-container {
    position: absolute;
    right: 10px;
}
.search-container span {
    margin: 10px;
    background-color: #8bb8f2;
    padding: 1px 4px 1px 4px;
    border-radius: 11px;
    color: #fff;
    display: inline-block;
    width: 25px;
    text-align: center;
}
input {
    padding: 5px;
}
mat-grid-list {
    top: 30px;
}